---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Yoo.lol - Rebuild your life with accountability buddies.">
  <main>
    <div
      class="flex flex-col-reverse md:flex-row items-center justify-evenly min-h-screen py-4 md:pt-16"
    >
      <div class="md:w-1/2 px-4">
        <span
          class="font-semibold text-3xl md:text-6xl tracking-tight leading-tight"
        >
          rebuild your life with <span
            class="text-transparent bg-gradient-to-r from-yellow-700 to-orange-700 bg-clip-text"
            >accountability buddies.</span
          >
        </span>

        <div class="text-lg md:text-xl mt-8">
          <span class="font-bold">Yoo.lol</span> helps you make "accountability
          buddies" <br />support each other to maintain progress towards your
          goals <br />
           and make them a reality
        </div>

        <div class="mt-8">
          <a
            href="https://tally.so/r/nG9AJo"
            class="px-8 py-4 rounded-xl bg-gradient-to-r from-yellow-700/70 to-orange-700/70 text-white font-bold"
            >Join the waitlist</a
          >
        </div>
      </div>
      <div>
        <img
          src="/mascot-playing.png"
          alt="Yoo.lol mascot playing near water"
          class="md:mt-0 my-8 scale-75 md:scale-100"
          width="450"
        />
      </div>
    </div>
  </main>

  <footer class="absolute bottom-0 flex items-center justify-center w-full gap-1 mb-4">
    <span>
      Yoo.lol is a project by <a class="text-blue-400" href="https://dhravya.dev">Dhravya Shah.</a> Contact me at <a class="text-blue-400" href="mailto:hi@yoo.lol">hi@yoo.lol</a>
    </span>
  </footer>
</Layout>
