---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="Yoo.lol - Rebuild your life with accountability buddies.">
  <main>
    <div
      class="flex flex-row items-center justify-evenly min-h-screen md:pt-0 pt-16"
    >
      <div class="md:w-1/2 px-4">
        <span
          class="font-semibold text-3xl md:text-6xl tracking-tight leading-tight"
        >
          rebuild your life with <span
            class="text-transparent bg-gradient-to-r from-yellow-700 to-orange-700 bg-clip-text"
            >accountability buddies.</span
          >
        </span>

        <div class="text-lg md:text-xl mt-8">
          <span class="font-bold">Yoo.lol</span> helps you make "accountability
          buddies" <br />support each other to maintain progress towards your
          goals <br />
           and make them a reality
        </div>

        <div class="mt-8">
          <a
            href="https://tally.so/r/nG9AJo"
            class="px-8 py-4 rounded-xl bg-gradient-to-r from-yellow-700/70 to-orange-700/70 text-white font-bold"
            >Join the waitlist</a
          >
        </div>
      </div>
      <div>
        <img
          src="/mascot-playing.png"
          alt="Yoo.lol mascot playing near water"
          class="md:mt-0 my-8"
          width="450"
        />
      </div>
    </div>
  </main>
</Layout>
